			<footer class="split-footer">
				<a href="www.armandomariscal.com">www.armandomariscal.com</a>
				<i class="link-spacer"></i>
				2018
			</footer>
		</div><!-- main content -->
	</div> <!--/row -->
</main> <!-- /container -->
<!-- <main class="container right-container" style="background-color: red;">
	<section class="sidebar col-md-10"  style="background-color: blue;">
		<div class="col-md-7 col-sm-12 col-md-offset-5 main-content">
			s
		</div>
	</section>
</main> -->
<script src="<?= $path ?>js/modernizr.custom.32229-2.8-respondjs-1-4-2.js"></script>
<script src="<?= $path ?>js/jquery-1.11.2.min.js"></script>
<script src="<?= $path ?>js/jquery.jpanelmenu.min.js"></script>
<script src="<?= $path ?>js/fastclick.min.js"></script>
<script src="<?= $path ?>js/main.js"></script>
<script type="text/javascript">
$('#lectura').click(function(){
	alert('s');
});
// Start of Disqus Code
	var disqus_shortname = 'marisscal';
    	(function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    	}());

// End of Disqus Code

// Start of Woopra Code
	(function(){
    	var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
	})("woopra");
	woopra.config({
    	domain: 'armandomariscal.com'
	});
	woopra.track();

// End of Woopra Code 

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-52519528-1', 'auto');
ga('send', 'pageview');

</script>
</body>
</html>