<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Armando Mariscal | <?= $description ?></title>
	<meta name="description" content="<?= $description ?>">
	<meta name="keywords" content="<?= $keywords ?>" />
	<meta name="author" content="Armando Mariscal">
	<link rel="stylesheet" href="<?= $path ?>css/main.css">
	<link rel="canonical" href="http://armandomariscal.com">
	<link rel="shortcut icon" href="<?= $path ?>images/favicon.png">
	<link rel="apple-touch-icon" href="<?= $path ?>images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="<?= $path ?>images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="<?= $path ?>images/apple-touch-icon-114x114.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script type="text/javascript">
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-9467923145415009",
			enable_page_level_ads: true
		});
	</script>
</head>