<body class="">
	<noscript>
		<div class="no-js-menu clearfix">
			<ul>
				<li><i class="fa fa-home"></i><a href="http://armandomariscal.com">Inicio</a></li>
				<li><i class="fa fa-twitter"></i><a href="http://twitter.com/armandomariscal">Twitter</a></li>
				<li><i class="fa fa-github"></i><a href="http://github.com/armandomariscal">Github</a></li>
				<li><i class="fa fa-pencil"></i><a href="http://armandomariscal.blogspot.com">Dibujos</a></li>
			</ul>
		</div>
	</noscript>
	<main class="container left-container">
		<div class="row">
			<div id="menu-target">
				<ul>
					<li><i class="fa fa-home"></i><a href="http://armandomariscal.com">Inicio</a></li>
					<li><i class="fa fa-twitter"></i><a href="http://twitter.com/armandomariscal">Twitter</a></li>
					<li><i class="fa fa-github"></i><a href="http://github.com/armandomariscal">Github</a></li>
					<li><i class="fa fa-pencil"></i><a href="http://armandomariscal.blogspot.com">Dibujos</a></li>
				</ul>
			</div>
			<section class="sidebar col-md-5 col-sm-12" style='background-image: url(img/feature-sea.jpg);'>
				<span class="menu-trigger animated fadeInDown">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</span>
				<div class="site-info">
					<div class="primary-info">
						<h1>Armando Mariscal</h1>
						<p></p>
					</div>
				</div>
			</section><!-- end sidebar -->
			<div class="col-md-7 col-sm-12 col-md-offset-5 main-content">
				<div class="author-bio">
					<img src='img/armando-mariscal-profile-picture-2018.jpg'>
					<div class="author-bio__info">
						<h1 id="michelle-jones">Armando Mariscal</h1>
						<p>Desarrollo - Diseño - Marketing</p>
						<p>Desarrollador en <a href="http://marisscal.com">Marisscal</a></p>
					</div>
				</div>
				<h2 class="favorites">All Post by Armando Mariscal</h2>
				<div class="posts-block animated fadeIn ">
					<article class="post">
						<div class="post-preview">
							<h2>Publicidad</h2>
							<p>
								<ins class="adsbygoogle"
								style="display:block; text-align:center;"
								data-ad-layout="in-article"
								data-ad-format="fluid"
								data-ad-client="ca-pub-9467923145415009"
								data-ad-slot="7003905908"></ins>
								<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
							</p>
							<p class="meta">
								<span>Armando Mariscal</span>
								<span><?= date('M') . ' ' . date('d') . ', ' . date('Y') ?></span>
							</p>
						</div>
					</article>
					<article class="post">
						<div class="post-preview">
							<h2>
								<a href="<?= $path ?>2018/06/15/como-se-llama-la-cancion-del-mundial-2018.php">
									Temas relacionados al Mundial de Rusia 2018
								</a>
							</h2>
							<p>
								Para unirme a la tendecia de búsquedas relacionadas con el mundial, publicaré información relevante cómo experimento SEO.
							</p>
							<ul>
								<li>
									<a href="<?= $path ?>2018/06/15/como-se-llama-la-cancion-del-mundial-2018.php">
										Día 2.- ¿Cómo se llama la canción del Mundial 2018?
									</a>
								</li>
								<li>
									<a href="<?= $path ?>2018/06/16/argentina-empata-contra-islandia-mundial-rusia-2018.php">
										Día 3.- Argentina no pudo contra la selección de Islandia y terminan en empate.
									</a>
								</li>
								<li>
									<a href="<?= $path ?>2018/06/17/mexico-gana-a-alemania-mundial-rusia-2018.php">
										Día 4.- México gana a Alemania 1 - 0 el resultado final
									</a>
								</li>
							</ul>
							<p class="meta">
								<span>Armando Mariscal</span>
								<span>Jun 14, 2018</span>
							</p>
						</div>
					</article>
					<article class="post">
						<div class="post-preview">
							<h2>
								<a href="https://twitter.com/ArmandoMariscal/status/979514991001837568">
									Mi Tweet de la semana | Los 4 Elementos
								</a>
							</h2>
							<p>
								El equipo de los renovados son buena onda, la modelo y los actores cómo que les tienen miedo, por eso hablan mal de ellos. #VamosAGanar #Reto4Elementos @GloriaAura @manu_negrete #YoConRasta #YoConRasta #YoConKarenka <a href="http://twitter.com/reto4elementos">@reto4elementos</a>
							</p>
							<p class="meta">
								<span>Armando Mariscal</span>
								<span>Mar 29, 2018</span>
							</p>
						</div>
					</article>
					<article class="post">
						<div class="post-preview">
							<h2><a href="http://marisscal.blogspot.mx/2012/04/5-consejos-basicos-de-seo-aplicables-tu.html">5 Consejos básicos de SEO aplicables a tu nuevo sitio web</a></h2>
							<p>Search Engine Optimization (SEO), es el proceso de fortificación de un sitio web, por lo que es más probable que aparezca en una mejor posición cuándo...</p>
							<p class="meta">
								<span>Armando Mariscal</span>
								<span>Apr 12, 2012</span>
							</p>
						</div>
					</article>
					<article class="post">
						<div class="post-preview">
							<h2><a href="http://armandomariscal.blogspot.mx/2012/05/corria-gran-velocidad-por-una-calle.html">Cuento #212</a></h2>
							<p>El nido gigante de un pequeño emplumado.</p>
							<p class="meta">
								<span>Armando Mariscal</span>
								<span>May 19, 2012</span>
							</p>
						</div>
					</article>
					<article class="post">
						<div class="post-preview">
							<h2><a href="#">Publicidad</a></h2>
							<style type="text/css">
							.adslot_1 { display:inline-block; width: 320px; height: 50px; }
							@media (max-width: 400px) { .adslot_1 { display: none; } }
							@media (min-width:500px) { .adslot_1 { width: 468px; height: 60px; } }
							@media (min-width:800px) { .adslot_1 { width: 728px; height: 90px; } }
						</style>
						<ins class="adsbygoogle adslot_1"
						data-ad-client="ca-pub-9467923145415009"
						data-ad-slot="3118449251"></ins>
						<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
					</div>
				</article>
			</div>
			<footer class="split-footer">
<!-- <a href="/about">About</a>
<i class="link-spacer"></i>
<a href="/about">Writer 2017</a> -->
www.armandomariscal.com
</footer>
</div><!-- main content -->
</div> <!--/row -->
</main> <!-- /container -->