<body class="">
	<noscript>
		<div class="no-js-menu clearfix">
			<ul>
				<li><i class="fa fa-home"></i><a href="http://armandomariscal.com">Inicio</a></li>
				<li><i class="fa fa-twitter"></i><a href="http://twitter.com/armandomariscal">Twitter</a></li>
				<li><i class="fa fa-github"></i><a href="http://github.com/armandomariscal">Github</a></li>
				<li><i class="fa fa-pencil"></i><a href="http://armandomariscal.blogspot.com">Dibujos</a></li>
			</ul>
		</div>
	</noscript>
	<main class="container left-container">
		<div class="row">
					<div id="menu-target">
				<ul>
					<li><i class="fa fa-home"></i><a href="http://armandomariscal.com">Inicio</a></li>
					<li><i class="fa fa-twitter"></i><a href="http://twitter.com/armandomariscal">Twitter</a></li>
					<li><i class="fa fa-github"></i><a href="http://github.com/armandomariscal">Github</a></li>
					<li><i class="fa fa-pencil"></i><a href="http://armandomariscal.blogspot.com">Dibujos</a></li>
				</ul>
			</div>
			<section class="sidebar col-md-5 col-sm-12" style="background-image: url(<?= $path ?>img/feature-sea.jpg);">
				<span class="menu-trigger animated fadeInDown">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</span>
				<div class="site-info">
					<div class="primary-info">
						<h1>Armando Mariscal</h1>
						<p></p>
					</div>
				</div>
			</section><!-- end sidebar -->
			<div class="col-md-7 col-sm-12 col-md-offset-5 main-content">
				<a href="<?= $path ?>">
					<h2 class="favorites">Armando Mariscal / 2018 / 06 / 15</h2>
				</a>